<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/home">User</a>
        <button class="danger" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNa"></button>
    </div>
</nav>
</body>
</html>